h1 {
  Font-family: Verdana;
  Font-weight: normal;
  Font-size: 50px;
  Color: white;
  text-align: center;
}

.cta {
  Color: Aquamarine;
  font-size: 16px;
  font-family: verdana;
}



body {
  background-color: black;
  text-align: center;

}
